
#title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
    
}
#title h1 {
    padding: 3%;
    background-color: rgb(10, 23, 55);
    color: #FFF;
    border-radius: 1%;
}

#cardItens {
    min-height: 500px;
    background-color: rgba(10,23,55,0.8);
    border-radius: 2%;
}

#items-list {
    margin: 2%;
    padding: 2%;
    border-radius: 2%;
}
.list-group {
    opacity: 100%;
}
.list-group ol {
    color: #000;
    opacity: 100%;
}
#main-container {
    background-image: url(../../public/uploads/background.jpg);
    height: 1000px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}
.btn {
    margin: 2%;
}
 #add-button {
     width: 200px;
     margin: 3%;
 }

 #form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
 }
#Form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
#regiao {
    width: 200px;
    height: 35px;
    border-radius: 5%;
}

#regiao:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#age:focus, input:focus {
    border: 0 none;
    outline: 0;
}
.options {
    display: none;
    padding: 3px;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/bootstrap/scss/bootstrap";